&pinctrl {
    // Other pinctrl definitions for other hardware
    pwm0_default: pwm0_default {
        group1 {
            psels =  <NRF_PSEL(PWM_OUT0, 0, 0)>,
                    <NRF_PSEL(PWM_OUT1, 0, 1)>,
                    <NRF_PSEL(PWM_OUT2, 0, 2)>,
                    <NRF_PSEL(PWM_OUT3, 0, 3)>,
                    <NRF_PSEL(PWM_OUT4, 0, 4)>,
                    <NRF_PSEL(PWM_OUT5, 0, 5)>,
                    <NRF_PSEL(PWM_OUT6, 0, 6)>,
                    <NRF_PSEL(PWM_OUT7, 0, 7)>,
                    <NRF_PSEL(PWM_OUT8, 0, 8)>,
                    <NRF_PSEL(PWM_OUT9, 0, 9)>,
                    <NRF_PSEL(PWM_OUT10, 0, 10)>,
                    <NRF_PSEL(PWM_OUT11, 0, 11)>,
                    <NRF_PSEL(PWM_OUT12, 0, 12)>,
                    <NRF_PSEL(PWM_OUT13, 0, 13)>,
                    <NRF_PSEL(PWM_OUT14, 0, 14)>,
                    <NRF_PSEL(PWM_OUT15, 0, 15)>,
                    <NRF_PSEL(PWM_OUT16, 0, 16)>,
                    <NRF_PSEL(PWM_OUT17, 0, 17)>,
                    <NRF_PSEL(PWM_OUT18, 0, 18)>,
                    <NRF_PSEL(PWM_OUT19, 0, 19)>,
                    <NRF_PSEL(PWM_OUT20, 0, 20)>,
                    <NRF_PSEL(PWM_OUT21, 0, 21)>,
                    <NRF_PSEL(PWM_OUT22, 0, 22)>,
                    <NRF_PSEL(PWM_OUT23, 0, 23)>,
                    <NRF_PSEL(PWM_OUT24, 0, 24)>,
                    <NRF_PSEL(PWM_OUT25, 0, 25)>,
                    <NRF_PSEL(PWM_OUT26, 0, 26)>,
                    <NRF_PSEL(PWM_OUT27, 0, 27)>,
                    <NRF_PSEL(PWM_OUT28, 0, 28)>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 0)>,
                    <NRF_PSEL(PWM_OUT1, 0, 1)>,
                    <NRF_PSEL(PWM_OUT2, 0, 2)>,
                    <NRF_PSEL(PWM_OUT3, 0, 3)>,
                    <NRF_PSEL(PWM_OUT4, 0, 4)>,
                    <NRF_PSEL(PWM_OUT5, 0, 5)>,
                    <NRF_PSEL(PWM_OUT6, 0, 6)>,
                    <NRF_PSEL(PWM_OUT7, 0, 7)>,
                    <NRF_PSEL(PWM_OUT8, 0, 8)>,
                    <NRF_PSEL(PWM_OUT9, 0, 9)>,
                    <NRF_PSEL(PWM_OUT10, 0, 10)>,
                    <NRF_PSEL(PWM_OUT11, 0, 11)>,
                    <NRF_PSEL(PWM_OUT12, 0, 12)>,
                    <NRF_PSEL(PWM_OUT13, 0, 13)>,
                    <NRF_PSEL(PWM_OUT14, 0, 14)>,
                    <NRF_PSEL(PWM_OUT15, 0, 15)>,
                    <NRF_PSEL(PWM_OUT16, 0, 16)>,
                    <NRF_PSEL(PWM_OUT17, 0, 17)>,
                    <NRF_PSEL(PWM_OUT18, 0, 18)>,
                    <NRF_PSEL(PWM_OUT19, 0, 19)>,
                    <NRF_PSEL(PWM_OUT20, 0, 20)>,
                    <NRF_PSEL(PWM_OUT21, 0, 21)>,
                    <NRF_PSEL(PWM_OUT22, 0, 22)>,
                    <NRF_PSEL(PWM_OUT23, 0, 23)>,
                    <NRF_PSEL(PWM_OUT24, 0, 24)>,
                    <NRF_PSEL(PWM_OUT25, 0, 25)>,
                    <NRF_PSEL(PWM_OUT26, 0, 26)>,
                    <NRF_PSEL(PWM_OUT27, 0, 27)>,
                    <NRF_PSEL(PWM_OUT28, 0, 28)>;
            low-power-enable;
        };
    };
};
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    backlight: pwmleds {
        compatible = "pwm-leds";
        pwm_led_0: pwm_led_0 {
        pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_1: pwm_led_1 {
        pwms = <&pwm0 1 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_2: pwm_led_2 {
        pwms = <&pwm0 2 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_3: pwm_led_3 {
        pwms = <&pwm0 3 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_4: pwm_led_4 {
        pwms = <&pwm0 4 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_5: pwm_led_5 {
        pwms = <&pwm0 5 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_6: pwm_led_6 {
        pwms = <&pwm0 6 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_7: pwm_led_7 {
        pwms = <&pwm0 7 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_8: pwm_led_8 {
        pwms = <&pwm0 8 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_9: pwm_led_9 {
        pwms = <&pwm0 9 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_10: pwm_led_10 {
        pwms = <&pwm0 10 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_11: pwm_led_11 {
        pwms = <&pwm0 11 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_12: pwm_led_12 {
        pwms = <&pwm0 12 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_13: pwm_led_13 {
        pwms = <&pwm0 13 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_14: pwm_led_14 {
        pwms = <&pwm0 14 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_15: pwm_led_15 {
        pwms = <&pwm0 15 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_16: pwm_led_16 {
        pwms = <&pwm0 16 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_17: pwm_led_17 {
        pwms = <&pwm0 17 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_18: pwm_led_18 {
        pwms = <&pwm0 18 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_19: pwm_led_19 {
        pwms = <&pwm0 19 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_20: pwm_led_20 {
        pwms = <&pwm0 20 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_21: pwm_led_21 {
        pwms = <&pwm0 21 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_22: pwm_led_22 {
        pwms = <&pwm0 22 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_23: pwm_led_23 {
        pwms = <&pwm0 23 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_24: pwm_led_24 {
        pwms = <&pwm0 24 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_25: pwm_led_25 {
        pwms = <&pwm0 25 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_26: pwm_led_26 {
        pwms = <&pwm0 26 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_27: pwm_led_27 {
        pwms = <&pwm0 27 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_28: pwm_led_28 {
        pwms = <&pwm0 28 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        };
    };

    chosen {
        zmk,backlight = &backlight;
    };
};
